
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Oswald');

@import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i');
*{
	margin:0;
	padding: 0;
}

@font-face{
  font-family: 'Droid Serif', serif;
  font-family: 'Oswald', sans-serif;
}


/*HEADER*/
header{
  padding: 30px 20px 40px 100px;

}
.logo{
  display: relative;
   margin-left: auto; margin-right: auto;
}
.input-group{
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  margin-left: 300px;
  margin-top: -80px;
}
#shopTitle{
  /*display: flex !important;
  flex-direction: column !important;*/
  width: 50%;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  color:rgb(215,58,30);
}
.lineTitle{
  color:rgb(215,58,30);
  width: 2%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}
#subTitle{
  display: flex;
  text-transform: lowercase;
  font-family: 'Droid Serif:700i', serif;
  font-size: 14px;
  color:#523468;  
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

#freeShippingCol{
  text-align: center;
}
#freeShippingColMobile{
  text-align: center;
  background-color: rgb(230,230,230);
}
#freeShippingHeader{
  font-family: 'Droid Serif:700i', serif;
  color:rgb(215,58,30);
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}
#freeShippingHeaderMobile{
  font-family: 'Droid Serif:700i', serif;
  font-size: 20px;
  font-style: italic;
  color:#615f5f;
}
#bagHeader{
  color: rgb(200,195,188);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 20px; 
}
#onOrdersHeader{
  display: block;
  color: rgb(220,58,37);
  font-style: italic;
}

#bag{
  margin-left: 3px;
}

#bagCol{
  text-align: center;
}
#bagColMobile{
  display: flex;
  float: right;
  text-align: center;
}
#bagColon{
  color: rgb(200,195,188);
  font-size: 20px; 
}
#bagNumber{
  font-family: 'Droid Serif:700', sans-serif;
   color:rgb(215,58,30);
   font-size: 20px; 
}

/*BODY*/
.post_images{
	width: 200px;
	height:200px;
	/*border: blue 2px solid;*/
	margin-right: auto;
  margin-left: auto;

}


.productDescription{
  text-align: center;
	font-family: 'Droid Serif:700', serif;
	font-size: 17px;
  margin-bottom: 80px;
}

.productName{
  display: inline;
  font-weight: bold;
  /*letter-spacing: .045em;*/
}

.price{
	color: rgb(220,58,37); 
	text-align: center;
}


h1{
	font-family: 'Oswald' !important;
	margin-bottom: 55px !important;
}


/*NAVBAR */

.navbar{
  border-radius: 0px !important;
}
.navbar-default {
  background-color: #523468 !important;
  border-color: #422a53 !important;
  height: 70px !important;
  border-radius: 0px !important;
}
/*.navbar-default .navbar-brand {
  color: rgb(255,255,255) !important;
}*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff !important;
}
.navbar-default .navbar-text {
  color: #ffffff !important;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff !important;
  font-family: 'Droid Serif' !important;
  font-style:italic !important;
  font-size: 15px !important;
  background-color:  #523468 !important;

}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #523468 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #422a53 !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #422a53 !important;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ecdbff;
  background-color: #422a53 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff !important;
  background-color: #422a53 !important;
  border-radius: 5px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #422a53 !important;
  border-radius: 5px;
}
.navbar-default .navbar-toggle {
  border-color: #422a53 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #422a53 !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff !important;
  padding-top: 10px !important;
}
.navbar-default .navbar-link {
  color: #ecf0f1 !important;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff !important;
    background-color: #422a53 !important;
  }
}

#or{
  padding-top: 15px;
  padding-bottom: 15px;
  color:rgb(179,168,200);
  font-style:italic;
}

/*MODAL*/
.modal-content{
  border-radius: 0px !important;
  width: 110%;
}
.modal-header{  
  border-bottom: none !important;
}
.modal-body{
  /*padding-left: 30px !important;*/
}

.productsModalImage{
  height: 400px;
}

.modalProductTitle{
  display: block;
  font-family: 'Droid Serif' !important;
  font-weight: 900;
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.productIngredients{
  font-family: 'Oswald serif' !important;
  font-weight: 400;
  font-size: 16px;
  margin: 0 !important; 
}
.modalProductPrice{
  font-family: 'Droid Serif:700', serif;
  color: rgb(220,58,37); 
  font-weight: 700;
  font-size: 20px;
}

.modalProductPriceTitle{
  display: block;
  font-family: 'Droid Serif' !important;
  font-weight: 900;
  font-size: 16px;
  padding-top: 15px;
}
.modal-footer{
  border-top: none !important;
}
.btn-default{
  background-color: rgb(215,58,30) !important;
  text-transform: uppercase;
  font-family: 'Droid Sans' !important;
  color: #ffffff !important;
  border-color: rgb(220,58,37) !important;

}
#paddingButtonModal{
  padding-top: 20px;
}

#basic-addon1{
    background-color: white !important;
    border: none !important;
}

.form-control{
  display: flex ;
  border: none !important;
}


/**FOOTER **/
footer{
  width: 100%;
  background-color: rgb(230,230,230);
  
  padding-top: 30px; padding-bottom: 30px; 
}
.footerLinks{
  display: inline-flex;
  list-style-type: none; 
}
.footerLinks a{
  padding-left: 10px;
  text-transform: uppercase;
  color: rgb(215,58,30);
  font-size: 18px;
}
#copyright{
  color: rgb(102,102,102);
  font-size: 16px;
}

#newsletter{
  background-color: white;
  border-radius: 5px;
  padding: 30px;
   font-family: 'Droid Sans';
}
#inputEmail{
  border: 1px solid black !important;
  width: 70%;
  border-radius: 4px;
  padding:5px;
}
#newsletterForm{
  text-align: center;
}
#signUp2{
   display: flex;
   margin-top: 20px;
}

#signUp1{
  font-style: italic;
  font-family: 'Droid Serif', serif;
  font-size: 16px;
  margin-bottom: 10px;
}
.socialMidiaIcons{
  margin-top: 30px;
  margin-right: 30px;
}


/*RESPONSIVE*/
@media screen and (max-width: 767px) {
  .socialMidiaIcons{
    margin-top: -10%;
    margin-bottom: 20px;
  }
  #copyright{
    margin-top: 20px;
    margin-bottom:20px;
  }
  header{
  padding: 0px;
 }
 #shopTitle{
  display: block;
  text-align: center;
 }
  header .row{
  padding: 10px 10px 10px 10px;
  }
  #logoImage{
    padding-left: 30px !important;
  }
  .navbar-default{
    height: 40px !important
  }
}